 @define-color foreground #F6FBFC;
 @define-color background #040507;
 @define-color background-alt rgba(4,5,7,0.25);
 @define-color cursor #C1CAD6;
 
 @define-color color0 #39393A;
 @define-color color1 #F5A7A1;
 @define-color color2 #C7BA88;
 @define-color color3 #A76E71;
 @define-color color4 #69A09B;
 @define-color color5 #B09662;
 @define-color color6 #93736C;
 @define-color color7 #EAF1F2;
 @define-color color8 #A4A9A9;
 @define-color color9 #F5A7A1;
 @define-color color10 #C7BA88;
 @define-color color11 #A2666A;
 @define-color color12 #69A09B;
 @define-color color13 #B09662;
 @define-color color14 #93736C;
 @define-color color15 #EAF1F2; 
